body {
    background-color: #eee;
    margin-top: 1rem;    
}
.main-header {
    background-color: #343a40;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    padding: 1rem 2rem;
    text-align: center;
}
.main-header h1 {
    color: #28a745;
    text-transform: uppercase;
}
.container {
    background-color: #fff;    
    max-width: 700px;
    padding: 1rem 2rem;
    text-align: center;
    -webkit-box-shadow: 2px 6px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 19px -8px rgba(0,0,0,0.75);
}

.btn-primary {
    background-color: #28a745;
    border: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #218036;
}

.main-footer {
    margin-top: 4rem;
    text-align: center;
}